* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(211, 210, 210);
  display: flex;
}

.menu {
  width: 250px;
  height: auto;
  background-color: rgb(180, 178, 178);
}

.menu h1 {
  font-size: 30px;
  line-height: 80px;
  font-weight: 200;
  padding: 0 20px;
  box-sizing: border-box;
}

.menu form input[type="text"] {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
  border: none;
  box-sizing: border-box;
}

.menu div {
  width: 230px;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.menu div:hover {
  background-color: white;
  cursor: pointer;
}

.not-fount {
  font-weight: bold;
  background-color: rgb(180, 178, 178);
  display: none;
  padding: 0 10px;
  width: 100%;
  margin-top: 10px;
  height: 40px;
  font-size: 16px;
  box-sizing: border-box;
}

.not-fount:hover {
  background-color: rgb(180, 178, 178);
}

.content {
  padding: 20px 10px 20px 10px;
  box-sizing: border-box;
}

.content h2 {
  margin-bottom: 20px;
  font-weight: 100;
}

.content p {
  padding: 0 10px 20px 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 435px) {
  .container {
    flex-direction: column;
  }
  .menu {
    width: 100%;
  }

  .menu form input[type="text"] {
    width: 100%;
  }

  .menu div {
    width: 100%;
  }

  .content {
    width: 100%;
    height: 100%;
  }
}
